name: C CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y build-essential valgrind

      - name: Build project
        run: |
            mkdir -p build
            gcc -o build/subarray_sum src/main.c src/source.c

      - name: Run tests
        run: ./build/subarray_sum tests/testcases.txt

      - name: Check memory leaks
        run: valgrind --leak-check=full ./build/subarray_sum tests/testcases.txt
